.hero-gallery {
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: flex-end;
}
.hero-gallery img {
  height: 240px;
  width: 170px;
  background: orange;
  margin: 0.5em;
  border-radius: 0.6em;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-gallery .hero-gallery-content {
  transform: rotate(25deg) translateY(-100px);
}
.hero-gallery .hero-gallery-content .columns-wrapper .column {
  animation: heroGallery 85s infinite linear;
}
.hero-gallery .hero-gallery-content .columns-wrapper:nth-child(2) .column {
  animation-direction: reverse;
}

@keyframes heroGallery {
  100% {
    transform: translateY(-100%);
  }
}
.service-card [class*=btn] {
  color: var(--white);
  font-weight: bold;
  position: relative;
  z-index: 1;
}
.service-card [class*=btn] span {
  height: 1em;
  width: 1em;
  margin-right: 1em;
}
.service-card [class*=btn] span svg {
  fill: currentColor;
}
.service-card p {
  margin-top: 1em;
}
.service-card p::first-letter {
  margin-left: 2em;
}
.service-card:first-child {
  --clr: var(--green-text);
}
.service-card:last-child {
  --clr: var(--blue-dark);
}
.service-card .title {
  color: var(--text-color);
  margin-left: 1em;
  margin-bottom: 1.2em;
  position: relative;
}
.service-card .title:before, .service-card .title:after {
  content: "";
  position: absolute;
  top: 0.4em;
  left: -1em;
  height: 0.3em;
  width: 0.3em;
  background: var(--clr);
  border-radius: 50%;
}
.service-card .title:after {
  transform-origin: right;
  transform: scale(5);
  opacity: 0.4;
}

.service-txt-wrapper {
  width: 60%;
  max-width: 500px;
  border-radius: inherit;
}

.service-img-wrapper {
  height: 300px;
  width: 400px;
  position: relative;
  overflow: hidden;
}
.service-img-wrapper:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgb(126, 0, 67), rgba(126, 0, 67, 0.3), transparent);
}

.service-card {
  width: -moz-max-content;
  width: max-content;
  margin-inline: auto;
  margin-block: 1em;
  position: relative;
}
.service-card .service-txt-wrapper {
  padding: 1em;
  padding-left: 2em;
}
.service-card .service-img-wrapper {
  margin: 1em;
}
.service-card .service-txt-wrapper:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 87%;
  top: 0;
  left: 0;
  border: 3px solid var(--clr);
  border-radius: inherit;
  z-index: -1;
}
.service-card.reverse .service-txt-wrapper:before {
  right: 0;
  left: auto;
}

.service-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 920px) {
  .service-card {
    flex-wrap: wrap;
    width: 100%;
  }
  .service-card .service-txt-wrapper {
    position: relative;
  }
  .service-card .service-txt-wrapper:before {
    width: 100%;
    height: 180%;
  }
  .service-card .service-img-wrapper {
    width: 100%;
  }
}
.hero-section {
  height: 100vh;
  max-height: 1000px;
  position: relative;
  padding-block: 1em;
}

.text-content .main-title {
  white-space: nowrap;
  font-size: clamp(18px, 7vw, 80px);
  width: -moz-min-content;
  width: min-content;
}
.text-content .site-description {
  color: var(--text-color-light);
  margin-top: 1em;
  margin-bottom: 2em;
  max-width: 50ch;
  line-height: 1.8;
}
.text-content .site-description::first-letter {
  margin-left: 2em;
}

.ctas-wrapper {
  gap: 0.5em;
}

.cta-btn {
  text-decoration: none;
  color: inherit;
  padding-block: 0.6em;
  max-width: 18ch;
  overflow: hidden;
  position: relative;
}
.cta-btn.main {
  background: var(--green);
  color: #fff;
}
.cta-btn span.txt {
  padding-inline: 1.9em;
}
.cta-btn.secondary {
  border: 2px solid var(--green);
  margin-top: 0.4em;
}
.cta-btn:before {
  content: "";
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  background: var(--blue);
  left: -2em;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: left 0.5s;
}
.cta-btn:hover:before {
  left: 1em;
}
.cta-btn span:not(.txt) {
  height: 1.2em;
  margin-right: 0.6em;
}
.cta-btn span:not(.txt) svg {
  width: auto;
  fill: currentColor;
}

@media (max-width: 1250px) {
  .text-content {
    text-align: center;
    width: 100%;
  }
  .text-content .main-title {
    min-width: 100%;
    text-align: center;
  }
  .text-content .site-description {
    margin-inline: auto;
  }
  .ctas-wrapper {
    align-items: center;
  }
  .site-description::first-letter {
    margin-left: 0 !important;
  }
  .hero-gallery {
    opacity: 0.2;
  }
}/*# sourceMappingURL=home.css.map */